body{
    background-color: #ffe8c9ff;
    font-family: 'Mali', cursive;
    
}
.name{
    text-align: right;
}
.headName{
    font-family: 'Caveat Brush', cursive;
    /*text-align: center;*/
    color: #61342d;
    font-size: 35px;
}
section {
    height: 100px;
   background-color: #fec8c1ff;
   padding-top: 30px;
}
.groundBox {
    border:5px solid #ffffff;
    padding:20px 80px; 
    background: #fec8c1ff;
    width:750px;
    height: 600px;
    border-radius:45px;
}
.detail{
    margin-left: 50px;
}
label{
    margin-top: 10px;
}

input[type=text]  {
        display: flex;
        align-items: center;
        width: 250px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background:lightgrey;
    }

#submit {
        width: 200px;
        height: 60px;
        background: #fec8c1ff;
        font-family: inherit;
        font-weight: bold;
        font-size: 20px;
        margin-left: 200px;
        margin-top: 70px;
        color: inherit;
        letter-spacing: 1px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        box-shadow:
            0px 0px 0px 5px rgba(255, 255, 255, 0.4),
            0px 4px 20px rgba(0, 0, 0, 0.33)

    }

a {
    color: black;
    text-decoration: underline;
    margin-left: 40px;
}

a:hover {
    color: gray;
    background-color: transparent;
}

#backet{
    margin-left: 20px;
    margin-top: 20px;}