body{
    background-color: #ffe8c9ff;
    font-family: 'Mali', cursive;
    
}
.name{
    text-align: right;
}
.headName{
    font-family: 'Caveat Brush', cursive;
/*text-align: center;*/
    color: #61342d;
    font-size: 35px;
}
section {
    height: 100px;
   background-color: #fec8c1ff;
   padding-top: 30px;
}
.groundBox {
    border:5px solid #ffffff;
    padding:20px 80px; 
    background: #fec8c1ff;
    width:750px;
    height: 600px;
    border-radius:45px;
}
.detail{
    margin-left: 50px;
}
label{
    margin-top: 10px;
}
.button{
    background-color: #ea9999ff;
    border:2px solid #ffffff;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    border-radius: 15px;
}

input[type=text]  {
        display: flex;
        align-items: center;
        width: 250px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background:lightgrey;
    }


a {
    color: black;
    text-decoration: underline;
    margin-left: 40px;
}

a:hover {
    color: gray;
    background-color: transparent;
}

#backet{
    margin-left: 20px;
    margin-top: 20px;}