body{
    background-color: #fffaf6;
    font-family: 'Mali', cursive;
    
}
.name{
    text-align: right;
}
.headName{
    font-family: 'Caveat Brush', cursive;
    /*text-align: center;*/
    color: #61342d;
    font-size: 35px;
}
section {
    height: 100px;
   background-color: #fec8c1ff;
   padding-top: 30px;
}
.manubar{
    height: 80px;
    background-color: #ffdcd8ff;
    padding-top: 40px;
}
.boxwhite{
    width: 380px; 
    height: 50px; 
    background-color: rgb(255, 255, 255); 
    margin-left: 150px;
    margin-top: -25px;
    padding: 10px 30px; 
}
.AGround{
    width: 500px; 
    height: 300px; 
    padding: 10px 20px;
    background-color: #f7e1ecff; 
    margin-left: 300px;
    margin-top: 130px;
}
.BGround{
    width: 500px; 
    height: 300px; 
    padding: 10px 20px;
    background-color:#e4f1f8ff; 
    margin-left: 300px;
    margin-top: 130px;
}
.button{
    background-color: #ffe8c9ff;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
}