body{
    background-color: #ffe0dcff;
}

.headName{
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    color: #61342d;
}

.novelName{
    font-family: 'Mali', cursive;
    color: #61342d;
}