body{
    background-color: #fffaf6ff;
    font-family: 'Mali', cursive;

}

.headName{
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    color: #61342d;
}

section {
  height: 100px;
 background-color: #fec8c1ff;
 padding-top: 30px;
}


.novelName{
    font-family: 'Mali', cursive;
    color: #61342d;
}